.App {
  background-color: #113c1a;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-color: #113c1a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-link.active {
  color: inherit;
  text-decoration: none;
}
.NavBar {
  text-align: center;
  color: white;
  padding-bottom: 2%;
}
.NavBarLink {
  padding-right: 1%;
  text-decoration: none;
}
